<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Model Scheduler</title>

    <link rel="stylesheet" href="styles/app.css" />
    <link rel="stylesheet" href="styles/classes.css" />

    <script src="js/util.js"></script>
    <script src="js/classes.js"></script>
    <link rel="icon" type="image/png" href="images/allenisdLogo.png" />
  </head>
  <body>
    <header class="navbar">
      <div class="nav_links">
	<a href="./classes"><img id="logo" src="images/allenisdLogo.png" alt="AllenISD Logo"></a>
	<h2>Vehicle Management System </h2>
	<div class="tooltip"><button id="darkmodeButton"><img id="darkmode" src="images/moon.png"><span class="tooltiptext">Dark Mode</span></div>
	
      </div>

      <nav>
	<ul class="nav_links">
	  <div class="normalScreen">
	    <li><span class="circle1">1</span><a class="selected" href="#">VEHICLES</a></li>
	    <li><span class="circle0">2</span><a href="./scheduler">ACCOUNTS</a></li>
	    <li><span class="circle0">3</span><a href="./final">EQUIPMENT</a></li>
	  </div>	  
	</ul>
      </nav>

    </nav>

    <div class="classList">
      <div id="heading">
	<h2>Cars</h2>
	<input onkeyup="search()" id="search" type="text" placeholder="Search"></input>
	<hr />
      </div>
      <ul id="availableCourses">
	
      </ul>
    </div> 
  </body>
</html>
