<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Allen Vehicle Management</title>

    <link rel="stylesheet" href="styles/main.css" />
    <script src="js/util.js"></script>
    <script src="js/classes.js"></script>
  </head>
  <body>
    <header class="navbar">
      <ul>
	<li><a href="./classes"><img id="logo" src="images/allenPDLogo.png" alt="AllenISD Logo"></a></li>
	<li>Vehicle Management System</li>
	<li>Enter New Vehicle</li>
	<li>Enter New Equipment</li>
	<li>Document Maintenance</li>
	<li>Report New Damage</li>
	<li>Repair Damage</li>
	<li>Renew Registration</li>
	<li>Search All Records</li>
	<li>Edit Maintenance Records</li>
	<li>Edit Mileage Records</li>
	<li>Edit Registration Records</li>
	<li>Logout</li>
      </ul>
    </header>

    <div id="body">
      <nav>
	<ul id="managementNavBar">
	  <li><button class="managementNavBarButton">Information</button></li>
	  <li><button class="managementNavBarButton">Assignment</button></li>
	  <li><button class="managementNavBarButton">Equipment List</button></li>
	  <li><button class="managementNavBarButton">Maintenance Records(Last 30 days)</button></li>
	  <li><button class="managementNavBarButton">Alerts- Oil Change</button></li>
	  <li><button class="managementNavBarButton">Alerts- Registration</button></li>
	  <li><button class="managementNavBarButton">Disposed Vehicles</button></li>
	  <li><button class="managementNavBarButton">Disposed Equipment</button></li>
	</ul>
      </nav>

    <br>
    <form>
      <span>Filter by</span>
      <input id="sort" placeholder="Filter">
      <input id="search" placeholder="Search">
      <button class="filterButton">Filter</button>
      <button class="filterButton">Remove Filters</button>
    </form>
      
      <br>
      
    <div id="vehicleTable">
      <table>
	<th>Allen Unit ID</th>
	<th>Fixed Asset Number</th>
	<th>Retention Status</th>
	<th>Vehicle Status</th>
	<th>Make</th>
	<th>Model</th>
	<th>Color</th>
	<th>Vehicle Year</th>
	<th>License Plate</th>
	<th>VIN</th>
	<th>Registration Status</th>
	<th>TollTag</th>
	<th>Oil Change Schedule</th>
	<th>Acquired On</th>
	<th>Value When Purchased</th>
	<th>Cost</th>
	<th>Disposal Date</th>
	<th>Value At Disposal</th>
	<th>Disposal Type</th>
      </table>
    </div>
    </div>
  </body>
</html>
