:root {
    --primarySelect: rgb(69, 98, 135);
    --secondarySelect: rgb(173, 192, 217);
    --tertiarySelect: rgb(160, 192, 232);
    --primaryGray: rgb(217,217,217);
    --secondaryGray: rgb(223,227,232);
    --tertiaryGray: rgb(242,242,242);
    --white: rgb(255,255,255);
    --border: rgb(169, 176, 186);
}
body {
    margin: 0;
    padding: 0;
}

#body {
    width: 94%;
    margin: 0 3% 0 3%;
    margin-top: 1%;
    /*border: 2px solid var(--primarySelect);*/
}

header.navbar{
    width: 98%;
    padding: 0 1% 0 1%;
    height: 5vh;
    min-height: 70px;
    display: block;
    background-color: var(--secondarySelect);
}
.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.leftAlign {
    float: left;
    width: 50%;
}
#logo {
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-right: 15px;
    float: left;
}
.navbar li {
    display: inline;
    text-align: center;
    font-size: 0.8vw;
    font-weight: 600;
    /*padding: 5px 20px;*/
    cursor: pointer;
}
.navbar a {
    text-decoration: none;
    color: ;
}
.navbar #selected{color: ;}
.navbar a:hover {color: ; transition: ease 0.2s;}
.navbar .border-before {border-left: 2px solid var(--border)}
.navbar .border-after {border-right: 2px solid var(--border)}
.navbar .spacer {height: 90%; margin-top: 5%; align-self: stretch;border: solid 2px black;}
.navbar #pfpContainer p {
    margin: 0;
    padding:0;
    text-align: center;
    width: 100%;
}
.navbar #pfpImg {
    border-radius: 100%;
    width: 45px;
    height: 45px;
    margin-top: 4px;
    /*margin-right: 15px;*/
    object-fit: contain;
}

#managementNavBar {
    list-style-type: none;
    display: flex;
    /*justify-content: space-between;*/
    padding: 0;
    width: 100%;
}
#managementNavBar li {
    text-align: center;
}
.managementNavBarButton {
    padding: 5px;
    cursor: pointer;
    background: var(--primaryGray);
    border: 1px solid var(--primarySelect);
    font-size: 14px; 
}
.managementNavBarButton:hover {
    background-color: var(--secondarySelect)
}

#filters{
    width: 100%;
    display: inline-block;
    white-space: nowrap;
}
.filterButton{
    padding: 5px;
}

#vehicleTable {
    margin-bottom: 2%;
    max-height: 70vh;
    overflow: auto;
}
tr:nth-child(odd) {
    background-color: var(--secondaryGray)
}

thead {position: sticky; top: 0}
th {
    min-width: 120px;
    background-color: var(--primaryGray);
}

td {
    text-align: center;
    font-size: 16px;
    height: 25px;
    text-transform: uppercase;
}

th .small {min-width: 90px;}
th .large {min-width: 170px;}
