:root {
    --primarySelect: rgb(69, 98, 135);
    --secondarySelect: rgb(173, 192, 217);
    --tertiarySelect: rgb(160, 192, 232);
    --primaryGray: rgb(12, 27, 48); /* darker blue */
    --secondaryGray: rgb(24, 54, 97); /* medium blue */
    --tertiaryGray: rgb(48, 86, 157); /* light blue */
    --white: rgb(255,255,255);
    --border: rgb(169, 176, 186);
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--primaryGray); /* Set body background to darker blue */
    color: var(--white); /* Set default text color to white */
}

#body {
    width: 94%;
    margin: 0 3% 0 3%;
    margin-top: 1%;
}

header.navbar{
    width: 98%;
    padding: 0 1% 0 1%;
    height: 5vh;
    padding-bottom: 45px;
    min-height: 70px;
    display: block;
    background-color: var(--secondaryGray); /* Set navbar background to medium blue */
}
.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.leftAlign {
    float: left;
    width: 50%;
}
#logo {
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-right: 15px;
    float: left;
}
.navbar li {
    display: inline;
    text-align: center;
    font-size: 0.8vw;
    font-weight: 600;
}
.navbar a {
    text-decoration: none;
    color: var(--white); /* Set navbar links color to white */
}
.navbar #selected{color: var(--tertiaryGray);} /* Set selected navbar link to light blue */
.navbar a:hover {color: var(--tertiaryGray); transition: ease 0.2s;} /* Set navbar link hover color to light blue */
.navbar .spacer {height: 90%; margin-top: 5%; align-self: stretch;border: solid 2px black;}
.navbar #pfpContainer p {
    margin: 0;
    padding:0;
    text-align: center;
    width: 100%;
}
.navbar #pfpImg {
    border-radius: 100%;
    width: 45px;
    height: 45px;
    margin-top: 4px;
}

#managementNavBar {
    list-style-type: none;
    display: flex;
    padding: 0;
    width: 100%;
}
#managementNavBar li {
    text-align: center;
}

.managementNavBarButton {
    padding: 5px;
    cursor: pointer;
    border: 1px solid var(--primarySelect);
    font-size: 14px;
}

.managementNavBarButton:hover {
    background-color: var(--secondarySelect);
}

#filters {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
}

.filterButton {
    padding: 5px;
    border: 1px solid var(--primarySelect);
}

#vehicleTable {
    margin-bottom: 2%;
    max-height: 70vh;
    overflow: auto;
}

#vehicleInfo {
    display: none;
    width: 49%;
    float: right;
    height: auto;
    background-color: var(--tertiarySelect);
    border: 1px solid var(--border);
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

.showInfo {
    display: block;
}

.tabs {
    display: flex;
    gap: 10px;
}

button {
    background-color: var(--tertiarySelect);
    border: 1px solid var(--border);
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--primaryGray);
}

.information-section {
    background-color: var(--tertiaryGray);
    padding: 10px 20px;
    border: 1px solid var(--border);
    margin-top: 20px;
}

tr:nth-child(odd) {
    background-color: var(--secondaryGray);
}

thead {
    position: sticky;
    top: 0;
}

th {
    min-width: 120px;
--primarySelect
}

td {
    text-align: center;
    font-size: 16px;
    height: 25px;
    text-transform: uppercase;
}

th .small {
    min-width: 90px;
}

th .large {
    min-width: 170px;
}
.navbar li {
    display: inline;
    text-align: center;
    font-size: 1vw;  /* Increase the font size */
    font-weight: 600;
    padding-top: 15px; /* Add padding above the text */
    padding-bottom: 15px;
}

.navbar #pfpContainer p {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    font-size: 1.2vw;  /* Increase the font size */
    padding-top: 15px; /* Add padding above the text */
     padding-bottom: 15px;
}
